div.wrapper.py-3.bg-dark
  div.row
    div.col-12.col-md-6
      h6 Community
      ul.list-unstyled.pl-3.footer-list
        li
          a(href="") Privacy Policy

    div.col-12.col-md-6
      h6 Social Media
      ul.list-unstyled.pl-3.footer-list
        li
          a(href="https://www.facebook.com/")
            i.fab.fa-facebook-square.mr-1
            span Facebook
        li
          a(href="https://m.me/")
            i.fab.fa-facebook-messenger.mr-1
            span Messenger
        li
          a(href="mailto:support@community.com")
            i.fas.fa-at.mr-1
            span Email

  p.text-center.m-0.mt-3.
    Copyright &copy; {{getYear()}} Community Inc. Made with ❤ in Craiova.
