main.container( community-json-ld, [schema]="SCHEMA" )
  div.row
    div.col-12.col-md-9.col-lg-6.mx-auto
      ng-container(*ngTemplateOutlet="_tfPage")

ng-template(#_tfPage)
  h1 Welcome to Community!

