<!DOCTYPE html>
html(lang='ro')
  head
    base(href='/')
    title Community
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description' content='Noua ta platforma de socializare')
    meta(name='robots' content='noindex')
    meta(name='googlebot' content='noindex')

    //- favicons
    link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
    link(rel="manifest", href="/site.webmanifest")
    link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#5bbad5")
    meta(name="msapplication-TileColor", content="#da532c")
    meta(name="theme-color", content="#ffffff")

    //- load third-party stylesheets
    link(href='/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')

    //- load out css bundle
    link(rel='stylesheet' href='/community.bundle.min.css')

    //- loading screen style
    style.
      html, body {
        min-width: 100%;
        min-height: 100vh;
      }

      body {
        background-color: #FCFCFC;
        color: #353c4e;
      }

      .loading-screen {
        min-width: 100%;
        min-height: 100vh;
        position: relative;
      }

      .loading-screen-logo {
        width: 15rem;
        height: 15rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

  body
    //- fix `module is not defined` error
    script window.module = {};

    community
      div.loading-screen
        h1 Loading ...

    //- polyfill(s) for older browsers
    script(src='/core-js/client/shim.min.js')
    script(src='/intl/dist/Intl.min.js')
    script(src='/classlist.js/classList.min.js')
    script(src='/web-animations-js/web-animations.min.js')
    script(src='/zone.js/dist/zone.min.js')
    script(src='/reflect-metadata/Reflect.js')

    //- load libraries
    script(defer, src='/store/dist/store.modern.min.js')

    //- load application
    script(defer, src='main.bundle.min.js')
